{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'core/styles.css' %}" />
    <title>AMR STORE</title>
  </head>
  <body>
    <div class="container">
      <div class="store-header">
        <div class="store-title">AMR STORE</div>
        <div class="cart-icon">&#128722;</div>
      </div>
      <div class="slogan">DON'T WORRY. WE HAVE IT!</div>
    </div>
  </body>
</html>
